/* -----------------------
Base styles
------------------------*/

body {
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #eee;
    font: 1em/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6
{
    margin: 0 0 .5em;
    font-weight: 500;
    line-height: 1.1;
}

h1 { font-size: 2.25em; } /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */

p {
    margin: 0 0 1.5em;
    line-height: 1.5;
}

blockquote
{
    padding: 1em 2em;
    margin: 0 0 2em;
    border-left: 5px solid #eee;
}
code, 
samp, 
kbd {
    font-family: Consolas, "Courier New", Courier, monospace, sans-serif;
    text-align: left;
    color: #555;
}

pre code {
    line-height: 1.6em;
    font-size: 11px;
}

pre {
    padding: 0.1em 0.5em 0.3em 0.7em;
    border-left: 5px solid #eee;
    margin: 1.7em 0 1.7em 0.3em;
    overflow: auto;
    width: 93%;
}

q {
    display:block;
    background: #fff;
    padding: 0px 20px 0px 30px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;
}

q::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 50px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 0px;
    top: -8px;
}

q::after {
    content: '';
}

hr {
    height: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 0;
    border-top: 1px solid #ddd;
}

table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    /* border-top: 1px solid #ddd; */
}

th,
td {
    padding: .5em 0em;
    vertical-align: top;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
}

a:link { color: royalblue; }
a:visited { color: grey; }
a:focus { color: black; }
a:hover { color: green; }
a:active { color: red; }

nav > ul{
    list-style-type: none;
    margin: 0 0 15px 0;
    padding: 0;
}

nav > ul li {
	list-style-type: none;
    padding: 3px 0;
}

li > a {
    text-decoration: none;
}

figure{
	margin: 10px 0;
}

figcaption {
    font-style: italic;
    font-size: 0.8em;
    margin: 10px 0;
}
/* -----------------------
Layout styles
------------------------*/

.container {
    max-width: 50em;
    margin: 0 auto;
}

.content {
    padding: 1em 1.25em;
    background-color: #fff;
}

img,
video {
    max-width: 100%;
}


img {
    font-family: 'Helvetica';
    text-align: center;

    height: auto;
    display: block;
    position: relative;
    min-height: 50px;
}

img::before {
    content: " ";
    display: block;

    position: absolute;
    top: -10px;
    left: 0;
    height: calc(100% + 10px);
    width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
}

img::after {
    content: attr(alt);
    display: block;
    font-size: 16px;

    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

iframe  {
    width: 48em;
    height: 27em;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.youtube,
.screen-junkies,
.life-noggin,
.formula-e---youtube,
.formula-1---youtube,
.household-hacker,
.mozilla-hacks---youtube {
    white-space: pre-line;
}

/* -----------------------
Wide styles
------------------------*/

@media (min-width: 42em) {
    .content { padding: 2em 3em; }

}

@media (max-width: 20em) {
    iframe  {
        width: 10.125em;
        height: 5.7em;
    }
}

/*iPhone 6+ Portrait*/
@media only screen and (min-device-width: 25.875em) and (max-device-width: 46em) and (orientation : portrait) {
    iframe  {
        width: 22.275em;
        height: 12.54em;
    }
}

/* -----------------------
Hide cruft
------------------------*/
a[href*='/~ff/'],
img[src*='/~r/']
{
    display: none;
}
